<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828076449937-jtvq7jcqavj18h2ireq3pqlfu5ma7e04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828076449937-jtvq7jcqavj18h2ireq3pqlfu5ma7e04</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828076449937-6qnumja2p96a9fh5csigvcklev2dsuhs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2wjxglGGm8DG8V7-MGrybV2E8FCgzdwE</string>
	<key>GCM_SENDER_ID</key>
	<string>828076449937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.education.client</string>
	<key>PROJECT_ID</key>
	<string>education-4b1e4</string>
	<key>STORAGE_BUCKET</key>
	<string>education-4b1e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828076449937:ios:7158729834f3cf77</string>
	<key>DATABASE_URL</key>
	<string>https://education-4b1e4.firebaseio.com</string>
</dict>
</plist>